@font-face {
  font-family: "CustomFont1";
  src: url("fonts/custom-font-1.woff2") format("woff2"),
    /* specify the path to your font files */ url("fonts/custom-font-1.woff")
      format("woff");
  /* Add additional font properties like font-weight and font-style if needed */
}

@font-face {
  font-family: "CustomFont2";
  src: url("fonts/custom-font-2.woff2") format("woff2"),
    url("fonts/custom-font-2.woff") format("woff");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
